<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  xmlns:pnt="http://typo3.org/ns/Atomicplan/PlateNewsThemes/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:layout name="NoFrame" />
<!--
	=====================
		Templates/News/List.html
-->

<f:section name="content">
	<f:variable name="pagePype" value="{pnt:getIntParam(name:'type')}"/>
	<f:comment><!-- if ajax pageType -->></f:comment>
	<f:if condition="{pagePype} == '1671773225'">
		<f:then>
			<f:render section="Ajax" arguments="{_all}"/>
		</f:then>
		<f:else>
			<f:render section="Default" arguments="{_all}"/>
		</f:else>
	</f:if>

</f:section>

<f:section name="Ajax">
	<f:render section="News" arguments="{_all}"/>
</f:section>

<f:section name="Default">
	<!--TYPO3SEARCH_end-->
	<f:if condition="{news} && {pagination.currentPage} == 1">
		<f:then>
			<f:asset.css identifier="ext-news" href="{settings.cssFile}" />
			<div class="news">
				<div class="news-list-view row" id="news-container-{contentObjectData.uid}">
					<f:render section="News" arguments="{_all}"/>
				</div>
			</div>
		</f:then>
		<f:else if="{settings.templateLayout} == 'load_more'">
			<f:if condition="{news}">
				<f:then>
					<f:render section="News" arguments="{_all}"/>
				</f:then>
				<f:else>
					<f:render section="NoNews" arguments="{_all}"/>
				</f:else>
			</f:if>
		</f:else>
		<f:else>
			<f:asset.css identifier="ext-news" href="{settings.cssFile}" />
			<div class="news">
				<div class="news-list-view row" id="news-container-{contentObjectData.uid}">
					<f:render section="News" arguments="{_all}"/>
				</div>
			</div>
		</f:else>
	</f:if>
	<!--TYPO3SEARCH_begin-->
</f:section>

<f:section name="NoNews">
	<div class="container no-news-found">
		<f:translate key="list_nonewsfound" />
	</div>
</f:section>

<f:section name="News">
	<f:if condition="{settings.hidePagination}">
		<f:then>
			<f:for each="{news}" as="newsItem" iteration="iterator">
				<f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
			</f:for>
		</f:then>
		<f:else>
			<f:if condition="{settings.list.paginate.insertAbove} && {settings.templateLayout} != '' && {settings.templateLayout} != 'load_more'">
				<f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
			</f:if>
			<f:variable name="backgroundClass" value="{f:if(condition: '{background}', then: 'bg {background}', else: '')}"/>

			<f:asset.css identifier="ac.grid.nums" href="EXT:plate_atomic_assets/Resources/Public/atomic-components/ac.grid.nums.css" />

			<div class="@container">
				<div class="ac-grid-n::cols-3 gap-medium">
					<f:for each="{pagination.paginator.paginatedItems}" as="newsItem" iteration="iterator">
						<f:variable name="newslink" value="{n:link(newsItem:'{newsItem}',settings:'{settings}',title:'{newsItem.title}',uriOnly:'1')}"/>
						<f:variable name="cardData" value="{
					uid: page.data.uid,
					link: newslink,
					addionalClasses: '{backgroundClass}'
				}"/>
						<div class="col d-flex">
							<f:render partial="Molecules/Cards/SimpleVertical/WrapperCard" arguments="{data: cardData}" contentAs="content">
								<section class="card-media">
									<f:variable name="imgConfig" value="{
								500:{w:'400',h:'230c',cropVariant:''},
								400:{w:'400',h:'230c',cropVariant:''},
								300:{w:'400',h:'230c',cropVariant:''}
							}"/>
									<f:variable name="mediaData" value="{
								type: 'image',
								media: newsItem.falMedia.0,
								addionalClasses: '',
								imgConfig: imgConfig
							}"/>
									<f:render partial="Molecules/Media/Media" arguments="{data: mediaData}"/>
								</section>
								<section class="card-content p-3 mb-0:last-child ">
									<h2 class="h3">{newsItem.title}</h2>
									<div class="d-flex vars-shy mb-2">
										<f:variable name="dateData" value="{
												date:newsItem.datetime,
												format:'d. F Y'
											}"/>
										<f:render partial="Atoms/Date" arguments="{data:dateData}"/>
										<span>&nbsp;| ECA Monat</span>
									</div>
									<f:variable name="paragraphData" value="{
								text:newsItem.teaser,
								cropLength: 150,
								allowedTags:'bold'
								}"/>
									<f:render partial="Atoms/Paragraph" arguments="{data:paragraphData}"/>
								</section>
							</f:render>
						</div>
					</f:for>
				</div>
			</div>
			<f:if condition="{settings.list.paginate.insertBelow}">
				<f:switch expression="{paginationType}">
					<f:case value="numbers">
						<f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
					</f:case>
					<f:defaultCase>
						<f:render partial="Pagination/LoadMore" arguments="{pagination:pagination.pagination, pageUid:contentObjectData.pid,contentId:contentObjectData.uid, paginator: pagination.paginator}" />
					</f:defaultCase>
				</f:switch>
			</f:if>
		</f:else>
	</f:if>

</f:section>

</html>
